@inherits LayoutComponentBase

<PageTitle>BabyPOS-Web2</PageTitle>

<div class="page">
    <!-- <Sidebar /> -->

    <main>
        <div class="top-row px-4 d-flex justify-content-between align-items-center">
            <a href="/" class="header-logo d-flex align-items-center text-decoration-none text-dark">
                <i class="fas fa-store fa-lg me-2" style="color:#ffb300;"></i>
                <span class="fw-bold fs-5">BabyPOS</span>
            </a>
            <div>
                <UserMenu />
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
