<div style="padding: 16px; text-align: center; font-weight: bold; font-size: 1.2em;">Hello</div>

<div style="padding: 16px; text-align: center;">
	<NavLink href="/login" class="btn btn-primary" style="width: 100%;">เข้าสู่ระบบ</NavLink>
</div>



